node_modules
dist
out
.DS_Store
*.log*
.vscode
build
ffmpeglibs
onnxlibs
*.node
resources
typed-router.d.tsresources/*node
server/uploads
__pycache__
resources/*wasm
resources/*onnx
server/database.db
