node_modules
dist
out
.DS_Store
*.log*
.vscode
build
ffmpeglibs
onnxlibs
bin
*pfsx
electron.vite.config.1*.mjs
screenshots.zip
server/uploads
__pycache__
*egg-info
*csv
*eaf
.secrets
resources/*node
resources/*wasm
resources/*onnx
server/database.db
*.so
