:80 {
    log {
        output stdout
    }
    handle /api/* {
        reverse_proxy vian-backend-1:8000
    }
    header Content-Security-Policy "default-src 'self' *; media-src file: *; script-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src *"

    handle {
        root * /usr/share/caddy
        try_files {path} {path}/ /index.html
        file_server
    }
}
