name: Build electron

on:
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    container: debian:oldstable

    steps:
      - uses: actions/checkout@v4
      
      - name: install build tools
        run: apt-get update && apt-get install -y build-essential cmake zip node
      
      - name: Download onnx
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: csukuangfj/onnxruntime-libs
          version: 'tags/v1.20.1'
          file: onnxruntime-linux-x64-glibc2_17-MinSizeRel-1.20.1.zip
      
      - name: Unzip
        run: |
          unzip onnxruntime*.zip
          rm onnxruntime*zip
          mv onnxruntime* onnxlibs

      - name: Download ffmpeg-libs
        uses: dawidd6/action-download-artifact@v7
        with:
          repo: elya5/ffmpeg-build
          github_token: ${{ secrets.ACCESS_TOKEN_GITHUB }}
          name: ffmpeg-libs-linux
          path: ffmpeglibs
          workflow: blank.yml
          check_artifacts: true
          search_artifacts: true

      - name: Debug
        run: ls ffmpeglibs

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build:linux

      - uses: actions/upload-artifact@v4
        with:
          name: vian-lite-linux
          path: ${{ github.workspace }}/dist/*AppImage
          retention-days: 90
          overwrite: true
